<div class="profile" *ngIf="!noDataAvailable && userData">
    <div class="main-menu">
        <a href="javascript:void(0)" (click)="prevPage();"><i class="material-icons">chevron_left</i> Back To Previous Page</a>
    </div>
<!-- {{userData | json}} -->
    <div class="row">
        <div class="col-md-3 col-lg-3">
            <div>
                <figure class="my-image">
                    <img src="{{'./users/image/'+ userData._id}}" />
                </figure>
            </div>
        </div>
        <div class="col-md-9 col-lg-9">
            <div class="clear-row more-space-bottom">
                <div fxFlex="70">
                    <h2 [innerHtml]="userData.first_name + ' ' + userData.last_name"></h2>
                    <p [innerHtml]="userData.designation"></p>
                </div>
                <div fxFlex="30" fxLayout="row" fxLayoutAlign="end" *ngIf="userData.reporting_manager">
                    <figure class="clip-circle">
                        <img src="{{'./users/image/'+ userData.reporting_manager._id}}" />
                    </figure>
                    <div>
                        <span class="text-small">Reporting To:</span>
                        <p [innerHtml]="userData.first_name + ' ' + userData.last_name"></p>
                    </div>
                </div>
            </div>
            <div class="clear-row">
                <md-tab-group>
                    <md-tab label="Contact Details">
                        <div class="sections">
                            <div>
                                <span class="title"><i class="material-icons" md-18>mail_outline</i> Email</span>
                                <p class="inner-more-space"><a href="mailto:[innerHtml]='userData.email'"><span [innerHtml]="userData.email"></span></a></p>
                            </div>
                            <div>
                                <span class="title"><i class="material-icons">phone</i> Phone</span>
                                <p class="inner-more-space" [innerHtml]="userData.phone"></p>
                            </div>
                            <div>
                                <span class="title"><i class="material-icons">chat_bubble_outline</i> Slack</span>
                                <p class="inner-more-space" [innerHtml]="userData.slack"></p>
                            </div>
                        </div>
                    </md-tab>
                    <md-tab label="About">
                        <div class="sections">
                            <div>
                                <p>Started my career on <span [innerHtml]="userData.dateOfJoining"></span>@ Pearson English</p>
                            </div>
                            <div>
                                <p [innerHtml]="userData.description"></p>
                            </div>
                            <div>
                                <h5>Current Projects</h5>
                                <span class="products" [innerHtml]="userData.team_details.join(',')"></span>
                            </div>
                            <div>
                                <h5>Previous Projects</h5>
                                <span class="products" [innerHtml]="userData.team_details.join(',')"></span>
                            </div>
                        </div>
                    </md-tab>
                    <md-tab label="Expertise">
                        <div class="sections">
                            <div>
                                <span class="products" *ngFor="let skill of userData.key_skills.split(',')" [innerHtml]="skill"></span>
                            </div>
                        </div>
                    </md-tab>
                </md-tab-group>
                
            </div>
        </div>
    </div>
</div>
<div *ngIf="noDataAvailable">
   Data Not Available
</div>