
  <div class="row">
<div class="col-lg-4" (click)="selected(team)" *ngFor="let team of teamData">
      <div class="card">
    <div >
  <h2>{{team.name}}</h2>
  <div>
    <p>{{team.description}}</p>
  </div>
  <div>
    <p>{{team_details}}</p>
  </div>
  <div>
    <div *ngFor="let team_member of team.team_members">
      <img src="{{'./users/image/'+ team_member._id}}" width="32" height="32"/>
    </div>
  </div>
</div>
</div>
</div></div>

  <!--<div class="row">
  <div class="col-md-6">-->
    
   
  <!--</div>
  <div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button (click)="randomize()">CLICK</button>
  </div>
</div>-->