<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TestApp</title>
  <base href="/">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<style type="text/css">
  html, 
  body {
      height: 98%;
  }
</style>
<body>
  <ticket-app></ticket-app>
  
  
  <script type="text/javascript" src="./dist/vendor.js"></script>
  <script type="text/javascript" src="./dist/app.js"></script>
</body>
</html>
