<h1>{{teamProfile.name}}</h1>
<h1>{{teamProfile.description}}</h1>

<div *ngFor="let team_members of teamProfile.team_members">
  <img src="{{'./users/image/'+ team_members._id}}" width="50" height="50"/>
  <h4>{{team_members.first_name + ' '+ team_members.last_name}}</h4>
  <h4>{{team_members.designation}}</h4>
</div>

  <!--<div class="row">
  <div class="col-md-6">-->
    
   
  <!--</div>
  <div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button (click)="randomize()">CLICK</button>
  </div>
</div>-->