<div class="creation">
    <div class="">
        <div class="col-lg-6 col-lg-offset-3">
            <div id="page1" [hidden]="!(page==1)">
                <img-cropper [image]="imageReceiver" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
            </div>
            <div id="page2" [hidden]="!(page==2)">
                <div>      
                    <md-form-field class="example-full-width">
                        <input [(ngModel)]="userData.emp_id" mdInput placeholder="Employee Id">
                    </md-form-field>
                </div>
                <div> 
                    <md-form-field class="example-full-width">
                        <input mdInput [(ngModel)]="userData.first_name" placeholder="First Name">
                    </md-form-field>
                </div>
                <div>  
                    <md-form-field class="example-full-width">
                        <input [(ngModel)]="userData.last_name" mdInput placeholder="Last Name">
                    </md-form-field>
                </div> 
            </div>
            <div id="page3" [hidden]="!(page==3)">
                <div> 
                    <md-form-field class="example-full-width">
                        <input mdInput [(ngModel)]="userData.email" placeholder="Email">
                    </md-form-field>
                </div>
                <div>  
                    <md-form-field class="example-full-width">
                        <input mdInput [(ngModel)]="userData.slack" placeholder="Slack">
                    </md-form-field>
                </div>
                <div>
                    <md-form-field class="example-full-width">
                        <input mdInput [(ngModel)]="userData.skype" placeholder="Skype">
                    </md-form-field>
                </div>
                <div>  
                    <md-form-field class="example-full-width">
                        <input mdInput [(ngModel)]="userData.phone" placeholder="Phone">
                    </md-form-field>
                </div> 
            </div>
            <div id="page4" [hidden]="!(page==4)">
                <div> 
                    <md-select placeholder="Current Projects" [(ngModel)]="userData.team_details" multiple>
                        <md-option *ngFor="let project of project_list" [value]="project">
                        {{project}}
                        </md-option>
                    </md-select>
                </div>
                <div>  
                    <md-select placeholder="Projects Worked" [(ngModel)]="userData.projects_worked" multiple>
                        <md-option *ngFor="let project of project_list" [value]="project">
                        {{project}}
                        </md-option>
                    </md-select>
                </div>
                <div>
                    <md-form-field>
                        <input mdInput [mdDatepicker]="picker" [(ngModel)]="userData.dateOfJoining" placeholder="Date of joining">
                        <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                        <md-datepicker #picker></md-datepicker>
                    </md-form-field>
                </div>
                <div>  
                    <md-select placeholder="Reporting Manager" [(ngModel)]="userData.reporting_manager">
                        <md-option *ngFor="let manager of managerList" [value]="manager">
                        {{manager.displayName}}
                        </md-option>
                    </md-select>
                </div> 
            </div>
            <div id="page5" [hidden]="!(page==5)">
                <div> 
                    <md-form-field class="example-full-width">
                        <input mdInput [(ngModel)]="userData.key_skills" placeholder="Key Skills">
                    </md-form-field>
                </div>
                <div>  
                    <md-form-field class="example-full-width">
                        <textarea maxlength="140" rows="4" [(ngModel)]="userData.description" placeholder="Description" mdInput></textarea>
                    </md-form-field>
                </div>
                <div>  
                    <md-select placeholder="Designation" [(ngModel)]="userData.designation">
                        <md-option *ngFor="let designation of ['Engineer','Manager']" [value]="designation">
                        {{designation}}
                        </md-option>
                    </md-select>
                </div>
                <!-- <div>  
                    <md-select placeholder="Role" [(ngModel)]="userData.role">
                        <md-option *ngFor="let role of ['admin','employee']" [value]="role">
                        {{role}}
                        </md-option>
                    </md-select>
                </div>  -->
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" class="more-space-top">
                <button md-button color="primary" (click)="gotoEmployees();" *ngIf="(page==1)">Cancel</button>
                <button md-button color="primary" (click)="prevPage();" *ngIf="!(page==1)">Previous</button>
                <button md-button color="primary" [disabled]="validationForNext(page)" (click)="submit();" *ngIf="(page==5)">Submit</button>
                <button md-button color="primary" (click)="nextPage();"  *ngIf="!(page==5)" [disabled]="validationForNext(page)">Next</button>
            </div>
        </div>
    </div>
</div>