<div class="row">
<div (click)="selected(user);" *ngFor="let user of userData" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="card user-card">
    <figure class="clip-circle">
      <img src="{{'./users/image/'+ user._id}}" />
      <div class="card-details">
        <h4>{{user.first_name + " " + user.last_name}}</h4>
        <p class="role">{{user.designation}}</p>
        <div class="action-icons">
          <a href="javascript:void(0)" title=""><span class="icon-mail"></span></a>
          <a href="javascript:void(0)" title=""><span class="icon-slack"></span></a>
        </div>
      </div>
    </figure>
  </div>
</div>
</div>

  <!--<div class="row">
  <div class="col-md-6">-->
    
   
  <!--</div>
  <div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button (click)="randomize()">CLICK</button>
  </div>
</div>-->