#container{
    width:100% !important;
    height:80% !important;
    min-height:80% !important;
}

.chartContainer{
    padding: 5px;
}

.legend-container{
    text-align: center;
}

.legend-container > span:nth-child(1){
        font-size:80px;
        color: #95a0b1;
}

.legend-container > span:nth-child(2){
    font-size:smaller;
}

.legend-container > span:nth-child(4){
    font-size:smaller;
}

.legend-container > span:nth-child(3){
    font-size: 25px;
    font-family: -webkit-pictograph;
    color: #4d5360;
    text-transform: capitalize;
    font-weight: bold;
}

.table-header{
    border-bottom: 1px solid black;
    min-height: 50px;
}

.table-row{
    min-height: 25px;
    border-bottom: 1px solid black;
    font-size: smaller;
    text-align: center;
}

.table-movie-container{
    display: block !important;
    width: 100%;
    min-height: 50px;
}

.table{
    border-bottom: 2px solid black;
    display: block;
    width: 100%;
    min-height: 500px;
}

.data-not-available{
    font-weight: bold;
    text-align: center;
    vertical-align: center;
}